input[type=file]::file-selector-button {
    margin-right: 20px;
    background: #E7E8EA;
    border: none;
    padding: 7px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    /* transition: background .2s ease-in-out; */
  }
  
  input[type=file]::file-selector-button:hover {
    /* background: #0d45a5; */
  }